{% extends 'main.html' %}

{% block content %}
<div class="d-flex align-items-center justify-content-center vh-100">
    <div class="text-center">
        <h1 class="display-1 fw-bold">404</h1>
        <p class="fs-3"> <span class="text-danger">Упс!</span> Вы не авторизованы</p>
        <p class="lead">
            Войдите в ваш аккаунт и попробуйте снова
          </p>
        <a class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#LoginModal">Авторизация</a>
    </div>
</div>
{% endblock %}