{% extends 'main.html' %}

{% block content %}
<form action="/configuration" method="post" name="configuration">
    <div class="accordion mt-3" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
              Autokontinent
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
            {% for category in autokontinent_category %}
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="{{ category.name }}" name="autokontinent" value="{{ category.url }}">
                <label class="form-check-label" for="{{ category.name }}">{{ category.name }}</label>
              </div>
            {% endfor %}
            </div>
          </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-heade" id="headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Autoopt
              </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                {% for category in autoopt_category %}
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="{{ category.name }}" name="autoopt" value="{{ category.url }}">
                <label class="form-check-label" for="{{ category.name }}">{{ category.name }}</label>
              </div>
                {% endfor %}
            </div>
         </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              Forum-auto
            </button>
          </h2>
          <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              {% for category in forum_category %}
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="{{ category.name }}" name="forum" value="{{ category.value }}">
              <label class="form-check-label" for="{{ category.name }}">{{ category.name }}</label>
            </div>
              {% endfor %}
          </div>
          </div>
        </div>
  </div>
  <button type="submit" class="btn btn-secondary mt-2 ms-2">Начать загрузку</button>
    
</form>


{% endblock %}