{% extends 'main.html' %}
{% block content %}
<div class="table-responsive">
  <form  class="bg-secondary form-control rounded-0 border-0 d-flex mt-3" action="/scrape" method="post" style="background-color: rgba(255, 255, 255, .1);">
    <input class="form-control form-control-dark w-100 rounded-0 border-0" name="scrape" type="text" placeholder="Парсинг" aria-label="Поиск">
    <button type="submit" class="btn btn-dark">Искать</button>
  </form>
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  {% if spare %}
    <h3 class="h3">Ваш запрос: {{ spare }}</h3>
    <div class="btn-toolbar mb-2 mb-md-0">
      <form action="/export_to_excel" method="GET">
        <button type="submit" class="btn btn-sm btn-outline-secondary">Экспорт в .xls</button>
        </form>
    </div>
  {% endif %}
  </div>
    <table class="table table-striped table-sm">
        <thead class="table-light">
          <tr>
            <th scope="col">Магазин</th>
            <th scope="col">Артикль</th>
            <th scope="col">Бренд</th>
            <th scope="col">Название</th>
            <th scope="col">Цена</th>
            <th scope="col">Склад</th>
            <th scope="col">Количество</th>
          </tr>
        </thead>
        <tbody>
            {% for data in desired_value %}
          <tr class="table-success">
            <td>{{ data['store'] }}</td>
            <td>{{ data['article_number'] }}</td>
            <td>{{ data['brend'] }}</td>
            <td>{{ data['name'] }}</td>
            <td>{{ data['price'] }}</td>
            <td>{{ data['location'] }}</td>
            <td>{{ data['count'] }}</td>
          </tr>
          {% endfor %}
          {% for data in similar_value %}
          <tr class="table-warning">
            <td>{{ data['store'] }}</td>
            <td>{{ data['article'] }}</td>
            <td>{{ data['brend'] }}</td>
            <td>{{ data['name'] }}</td>
            <td>{{ data['price'] }}</td>
            <td>{{ data['location'] }}</td>
            <td>{{ data['count'] }}</td>
          </tr>
          {% endfor %}
    </table>
</div>

{% endblock %}