<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block styles %}
    {{ bootstrap.load_css() }}
    {% endblock %}
    <title>Home page</title>
</head>
<body>
    {% block search %} 
    <div class="container">
        <form  class="input-group mb-3 mt-3" action="/" method="post">
            <input type="text" name="url" class="form-control" placeholder="Артикул детали" aria-label="Артикул деталь" aria-describedby="button-addon2">
            <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Поиск</button>
        </form>
    </div>
    {% endblock %}
    {% block content %} {% endblock %}

    {% block scripts %} {{ bootstrap.load_js() }} {% endblock %}
</body>
</html>
