{% extends 'main.html' %}
{% block content %}
<div class="container">
  <div class="mt-2 ml-3 mb-2">
    <h2>Запрос: {{ spare }}</h2>
  </div>
    <table class="table mt-3">
        <thead class="table-light">
          <tr>
            <th scope="col">Магазин</th>
            <th scope="col">Артикль</th>
            <th scope="col">Бренд</th>
            <th scope="col">Название</th>
            <th scope="col">Цена</th>
            <th scope="col">Склад</th>
            <th scope="col">Количество</th>
          </tr>
        </thead>
        <tbody>
            {% for data in desired_value %}
          <tr class="table-success">
            <td>{{ data['store'] }}</td>
            <td>{{ data['article'] }}</td>
            <td>{{ data['brend'] }}</td>
            <td>{{ data['name'] }}</td>
            <td>{{ data['price'] }}</td>
            <td>{{ data['location'] }}</td>
            <td>{{ data['count'] }}</td>
          </tr>
          {% endfor %}
          {% for data in similar_value %}
          <tr class="table-warning">
            <td>{{ data['store'] }}</td>
            <td>{{ data['article'] }}</td>
            <td>{{ data['brend'] }}</td>
            <td>{{ data['name'] }}</td>
            <td>{{ data['price'] }}</td>
            <td>{{ data['location'] }}</td>
            <td>{{ data['count'] }}</td>
          </tr>
          {% endfor %}
    </table>
</div>

{% endblock %}