<div class="modal fade" id="LoginModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title text-center" id="exampleModalLabel">Вход</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
        <div class="modal-body">
          <p class="text-center text-danger" id="error"></p>
          <div class="mb-3">
            <label for="login" class="col-form-label text-center">Логин</label>
            <input type="text" name="login" id="login" class="form-control">
          </div>
          <div class="mb-3">
            <label for="password" class="col-form-label text-center">Пароль</label>
            <input type="password" name="password" id="password" class="form-control">
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary" id="loginSubmit">Вход</button>
        </div>
    </div>
  </div>
</div>